html, body 
{
    background-color: rgb(255, 255, 255);
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Lexend', sans-serif;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    font-size: 1em;
}

#general
{
    background-color:  #e1d7c0;
    height: 100%;
    padding: 0;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;  
}

#verify
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #27283f;
    flex-direction: column; 
}

#roulette-container 
{
    background-color:  #e1d7c0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;  
    padding-left: 0;
    padding-right: 0;
}

#roulette-img 
{
    position: relative;
    
}

#roulette-flecha 
{
    position: absolute;
    
    z-index: 1;
    transform: rotate(0deg); 
}

#spin_roullete 
{
    margin-top: 20px; 
}

#start_logo 
{
    transition: width 0.3s ease;
    width: 50vh;
}

#start_logo:hover
{
    width: 55vh;
}

#head
{
    background-color: rgb(241, 181, 181);
    color: black;
    border: 0.4vh solid black;
    border-radius: 15px;
    display: flex;
    text-align: center;
    align-items: center; 
    justify-content: center; 
    padding-left: 0;
    padding-right: 0;
    margin-top: 0 !important;
    height: 15%;
    width: 70%;
}

#choose
{
    background-color: rgb(70, 70, 70);
    border-radius: 15px;
    border: 0.4vh solid black;
    display: flex;
    flex-direction: column; 
    text-align: center;
    align-items: center; 
    justify-content: center; 
    padding-left: 0;
    padding-right: 0;
    height: 40%;
    width: 70%;
    padding-top: 2vh;
}

#choose button
{
    width: 70%;
    height: 16%;
    margin-bottom: 2vh;
}

#results
{
    background-color: #27283f;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center; 
    justify-content: center; 
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    width: 100%;
}

#review
{
    padding-left: 0;
    padding-right: 0;
}

/* botones */
.btn-primary {
    background-color: #6A4C93; 
    border: solid 2px #4A2C6D; 
    color: white; 
    transition: background-color 0.3s ease, transform 0.2s ease, border 0.3s ease;
}

.btn-primary:hover 
{
    background-color: #8A7BCA; 
    transform: scale(1.05);
}

button:disabled.btn-success 
{
    background-color: #28A745 !important; 
    color: white !important;
    border: solid 2px #155724 !important; 
}

button:disabled.btn-danger 
{
    background-color: #DC3545 !important; 
    color: white !important;
    border: solid 2px #721C24 !important; 
}

button:focus, button:active 
{
    background-color: #5A2E6D !important; 
    border: solid 3px #4A2C6D !important; 
}

/* Tema 1 */
.theme1 {
    background-color: #FF9AA2; /* Color base */
    color: black; /* Color del texto */
    border: solid 1px #FF6F61; /* Borde temático */
}

.theme1:hover {
    background-color: #FF6F61; /* Color hover */
}

/* Tema 2 */
.theme2 {
    background-color: #FFCC5C; /* Color base */
    color: black; /* Color del texto */
    border: solid 1px #FFB94D; /* Borde temático */
}

.theme2:hover {
    background-color: #FFB94D; /* Color hover */
}

/* Tema 3 */
.theme3 {
    background-color: #D3E3FC; /* Color base */
    color: black; /* Color del texto */
    border: solid 1px #A2C2E2; /* Borde temático */
}

.theme3:hover {
    background-color: #A2C2E2; /* Color hover */
}

/* Tema 4 */
.theme4 {
    background-color: #85E3FF; /* Color base */
    color: black; /* Color del texto */
    border: solid 1px #4DB8E1; /* Borde temático */
}

.theme4:hover {
    background-color: #4DB8E1; /* Color hover */
}

.theme5 
{
    background-color: #B9FBC0; /* Color base */
    color: black; /* Color del texto */
    border: solid 1px #8CF3A2; /* Borde temático */
}

.theme5:hover 
{
    background-color: #8CF3A2; 
}

.theme6 
{
    background-color: #FFD3B6; 
    color: black; 
    border: solid 1px #FFAB76; 
}

.theme6:hover 
{
    background-color: #FFAB76; 
}

.theme7 
{
    background-color: #FF677D; 
    color: white; 
    border: solid 1px #D94F60; 
}

.theme7:hover 
{
    background-color: #D94F60; 
}

.theme8 
{
    background-color: #4B92DB; 
    color: white; 
    border: solid 1px #2A7BCF; 
}

.theme8:hover 
{
    background-color: #2A7BCF; 
}


button:disabled 
{
    background-color: #C0C0C0 !important;
    border: solid 2px #A8A8A8 !important;
}